.resource-view:hover {
  box-shadow: 5px 4px 22px rgba(3, 30, 30, 0.808);
}

.resource-view .resource-item-controls {
  visibility: hidden;
}

.resource-view:hover .resource-item-controls {
  visibility: visible;
}
