.learn {
  display: flex;
  height: 90%;
}

.editor {
  height: 100%;
  width: 50vw;
  overflow-y: scroll;
}

#ytplayer {
  height: 100%;
  width: 50%;
  flex-grow: 0;
}

.other-editor {
  margin-left: auto;
  margin-right: auto;
}

.card {
  display: block;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
}