.add-topic-form {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  border: 1px dashed #ccc;
  background: #f1f1f1;
  height: 120px;
  width: 120px;
  border-radius: 6px;
  font-size: 0.75em;
  text-align: center;
}
