.folder-wrap {
  display: inline-block;
}

.folder-btn {
  height: 120px;
  width: 120px;
  border-radius: 6px;
  background: #befbfb;
  border: none;
  margin: 10px;
}

.edit-folder-form {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  border: 1px dashed #ccc;
  background: #befbfb;
  height: 120px;
  width: 120px;
  border-radius: 6px;
  font-size: 0.75em;
  text-align: center;
}
