.folder-btn {
  height: 120px;
  width: 120px;
  border-radius: 6px;
  background: #befbfb;
  border: none;
  margin: 20px;
}

.topic-wrap {
  display: inline-flex;
}

.topic-btn {
  height: 120px;
  width: 120px;
  border-radius: 6px;
  background: #f1f1f1;
  border: none;
  margin: 10px;
}

.edit-delete-topic-options {
  display: inline-flex;
  flex-direction: column;
}

.edit-delete-topic-options div {
  margin: 0 10px 5px 0;
}

.edit-topic-form {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  border: 1px dashed #ccc;
  background: #f1f1f1;
  height: 120px;
  width: 120px;
  border-radius: 6px;
  font-size: 0.75em;
  text-align: center;
}
